<div class="container-fluid">
	<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<div class="alert alert-success" role="alert" style="margin: 10% 0;">
			<h4>Great! For your county, you should continue the application process at <a href="<%= @link_url %>"><%= @link_text %></a></p>
			<h4>Click the link above, or wait 5 seconds to automatically go there.</p>
		</div>
	</div>
</div>

<script>
  setTimeout(function() {
    window.location.href = "<%= @link_url %>";
  }, 5000);
</script>
